body {
    margin: 0;
}

.top-section {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-secondary, ul {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-wrap: wrap;
    
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    border: 0;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 0px;
    margin: 0px;
    align-self: center;
}